/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

p {
  font-size: 1.125rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.55rem;
}

@font-face {
  font-family: "Jura";
  src: url("../fonts/Jura.ttf");
}
@font-face {
  font-family: "Righteous";
  src: url("../fonts/Righteous.ttf");
}
@font-face {
  font-family: "PT";
  src: url("../fonts/PTSans-Regular.ttf");
}

body {
  font-family: "PT Sans", sans-serif;
}

header,
footer,
h2 {
  font-family: "Righteous", sans-serif;
}

/* .container {
  padding: 1rem 10rem;
}  */

.dkGradient {
  background: linear-gradient(to right, #000000c7 0%, #ffffff1f 100%);
}

.width-fit {
  width: fit-content;
}

#landing-features video,
#landing-features img {
  border: 2px solid #333;
}

.content:hover .details {
  top: 35%;
  opacity: 1;
}

.content:hover .details-link {
  top: 85%;
  opacity: 1;
}

.fadeIn-bottom {
  top: 90%;
}

.overlay.bg-offblack {
  background: rgba(0, 0, 0, 0.7);
}

.content:hover {
  background: rgba(0, 0, 0, 0.5);
}

.welcome-message {
  margin-top: 4.5em;
}

.welcome-message h1 {
  font-size: 32px;
  color: #fff;
  font-weight: 800;
  margin: 0 0 24px;
}

.welcome-message h2 {
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  margin: 0;
}

.welcome-message p {
  font-size: 16px;
  line-height: 1.8rem;
}

.btn {
  padding: 0.5em 1.5em;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  background-color: #f56363;
  line-height: 1.5;
  border: none;
  border-radius: 50px;
  font-weight: 400;
  text-transform: uppercase;
  /* transition: all 0.3s ease-in-out; */
}

.btn:hover {
  color: #fff;
  background-color: #fa5454;
}

.btn:active,
.btn:focus,
.btn:active:hover,
.btn:active:focus {
  color: #fff;
  outline: none;
  background-color: #fa5454;
}

.cta-btn p {
  color: #fff;
  margin: 0.75em 0 0;
  font-size: 18px;
}

.full-width {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.hero-font-size {
  font-size: 3rem;
  text-transform: uppercase;
}

@media screen and (min-width: 668px) {
  .hero-font-size {
    font-size: 8rem;
  }
}

@media screen and (max-width: 667px) {

 .design-hero {
  background: url(../assets/images/beach.jpg) center center no-repeat
    scroll;
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden; 
 } 
} 

@media screen and (min-width: 670px) {
  .bgvid-hero {
    display: block !important;
    width: 100% !important;
    height: 100% !important;
  }
}


